<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button routerLink="/criarPensamento" class="botao">Adicionar pensamento</button>
  </header>
  <div class="mural">
    <ng-container *ngIf="listaPensamentos?.length; else semPensamentos">
      <app-pensamento *ngFor="let pensamento of listaPensamentos" [pensamento]="pensamento"></app-pensamento>
    </ng-container>
    <ng-template #semPensamentos>
      <div class="ff-inter sem-pensamentos">
        <p>Você ainda não adicionou nenhum pensamento.</p>
      </div>
    </ng-template>
  </div>
</section>
<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Você ainda não adicionou nenhum pensamento.</p>
  </div>
</ng-template>
